# Docker Hub username
# Example: mydockeruser
REGISTRY_USER=

# Docker image version/tag
# Example: latest, v1.0.0, 1a2b3c4
IMAGE_TAG=latest

# External port for nginx load balancer
# Format: HOST_PORT:CONTAINER_PORT
# Example: 8091 will expose nginx on http://localhost:8091
NGINX_PORT=8091
